vendor/*
vendor/stripe/stripe-php/lib/Service/Sigma/SigmaServiceFactory.php
temp/temp.zip
vendor/composer/autoload_classmap.php
vendor/composer/autoload_static.php
vendor/composer/autoload_static.php
MOBILE_COMPATIBILITY_ROADMAP.md
*SECURITY*.md
