body{
    direction: rtl;
    
}

label.emsFormBuilder {
    float: right;
}

.rtl-text{
    text-align: right;
}


.multiselect-list {
    text-align: initial;
}

input[type="email"]:-moz-placeholder {
    text-align: right;
}
input[type="email"]:-ms-input-placeholder {
    text-align: right;
}
input[type="email"]::-webkit-input-placeholder {
    text-align: right;
}

