
.efb.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0
}

.efb.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.efb.modal.efb.fade .efb.modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px)
}

@media (prefers-reduced-motion:reduce) {
    .efb.modal.efb.fade .efb.modal-dialog {
        transition: none
    }
}

.efb.modal.show .modal-dialog {
    transform: none
}

.efb.modal.modal-static .efb.modal-dialog {
    transform: scale(1.02)
}

.efb.modal-dialog-scrollable {
    height: calc(100% - 1rem)
}

.efb.modal-dialog-scrollable .efb.modal-content {
    max-height: 100%;
    overflow: hidden
}

.efb.modal-dialog-scrollable .efb.modal-body {
    overflow-y: auto
}

.efb.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.efb.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    height: 100%;
    border: none !important;
    border-radius: 20px !important;
}

.efb.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.efb.modal-backdrop.efb.fade {
    opacity: 0
}

.efb.modal-backdrop.show {
    opacity: .5
}

.efb.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.efb.modal-header .efb.btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto
}

.efb.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.efb.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem
}

.efb.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.efb.modal-footer>* {
    margin: .25rem
}

@media (min-width:576px) {
    .efb.modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .efb.modal-dialog-scrollable {
        height: calc(100% - 3.5rem)
    }

    .efb.modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .efb.modal-sm {
        max-width: 300px
    }
}

.efb.modal-content {
    height: 100%;
    border: none !important;
    border-radius: 20px !important;
}

.efb.modal-header {
    border-radius: 0
}

.efb.modal-body {
    overflow-y: auto
}

.efb.modal-footer {
    border-radius: 0
}
