body {
	direction: rtl !important;
}

.wp-menu-name {
	/* direction: rtl;
	float:     right; */
	text-align: initial;
}

.search-form-control.efb {
    padding-right: 40px!important;
	padding-left:0px!important;
}
.bi-search.search-icon.efb {
	right: 40px!important;
	left: 0px!important;;
}

input[type=file] {
    padding: 3px 14px;
}

input[type="email"]:-moz-placeholder {
    text-align: right;
}
input[type="email"]:-ms-input-placeholder {
    text-align: right;
}
input[type="email"]::-webkit-input-placeholder {
    text-align: right;
}


.btn-edit-holder {
    float: left!important;
}

