.efb {direction: rtl !important;}
.wp-menu-name {text-align: initial;}
.search-form-control.efb {    padding-right: 40px!important;padding-left:0px!important;}
input[type=file].efb {    padding: 3px 14px;}
input[type="email"]:-moz-placeholder.efb {    text-align: right;}
input[type="email"]:-ms-input-placeholder.efb {    text-align: right;}
input[type="email"]::-webkit-input-placeholder.efb {    text-align: right;}
.btn-edit-holder.efb {    float: left!important;margin-top: -40px;margin-left: 2%!important;margin-right: 62%!important;margin-right: 73%;position: relative;z-index: 10;}
.search-icon.efb {    position: relative;    right: 45px;left: 0px!important;;}
.description-logo.efb{float: right!important;}
@media screen and (min-width: 1000px) {
  
    
    /*  .col-md-12 .efb.ttiptext.show {
        margin: -30px +92px 0 0!important;
    
    }  */
  
  }
/* .efb.ttiptext.show {
    width: fit-content!important;
} */

.col-md-6 .efb.btn-edit-holder {
    float: left!important;
    margin-top: -40px;
    margin-left: 2%!important;
    margin-right: 24%!important;
    margin-right: 37%;
    position: relative;
    z-index: 10;
}


 .efb.form-check-inline .efb.form-check-input {
    float: right;
} 
.efb.listContent{margin-right: 4px!important;}

.efblist::before {
    margin: 0 0 0 3px;
}
@media screen and (max-width: 782px) {
    .top_circle-efb-1, .top_circle-efb-2 {		display: none !important;}
     #alert_content_efb {		position: absolute;margin: 15% 5%;z-index: 1070 !important;width: 70%;}
     .efb.listContent{		width: max-content!important;}

     .efb.def.col-md-12 .efb.ttiptext ,
     .efb.def.col-md-8 .efb.ttiptext, 
     .efb.def.col-md-6 .efb.ttiptext, 
     .efb.def.col-md-4 .efb.ttiptext {	margin: -30px 70px 0px 0px!important;font-size: 12px!important; };
 }
 
 .efb.unpx {
    margin: -32px -54px 0px 0!important;
    font-size: 10px!important;
}
 .efb.esign .ttiptext { margin: -25px 10px 0px 0px}
 .efb.yesNo.row .ttiptext { margin: -25px 20px 0px 0px!important}
 .efb.yesNo .ttiptext { margin: -35px 20px 0px 0px}
/*  .efb.esign.col-md-6 .ttiptext {	margin:-25px 10px 0px 0px}
 .efb.esign.col-md-4 .ttiptext {	margin: -25px 10px 0px 0px;font-size: 12px!important; }; */

.efb.def.col-md-12 .efb.ttiptext { margin: -25px 50px 0px 0px!important}
.efb.def.col-md-6 .efb.ttiptext,.efb.def.col-md-10 .efb.ttiptext,.efb.def.col-md-8 .efb.ttiptext {	margin:-25px 50px 0px 0px!important}
.efb.def.col-md-4 .efb.ttiptext {	margin: -25px 20px 0px 0px!important };


td.efb.ms {
    text-align: right;
}

div#gRecaptcha {
    margin: 7px -42px!important;
}



.iti__country-list{
	/* text-align: inherit!important; */
	position: relative!important;
} 

.iti__country{
	direction: ltr;
}
.iti__arrow {
    margin-right: 6px;
}

.iti__selected-flag{
    flex-direction: row-reverse;
}

.hStyleOpEfb{
    margin-left:  0px !important;
    margin-right:  5px !important;
    padding-right: 5PX;
    padding-left: 0;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(255, 255, 255, 0)!important;
}


#floating-panel.efb {
    position: absolute;
    z-index: 5;
    margin-top: 15px !important;
    padding-left: 1% !important;
    padding-right: 52px;
}

.rtl .efb.form-control.is-valid,.efb.was-validated .efb.form-control:valid {
    background-position: left calc(.375em + .1875rem) center!important;
}

#dropZoneEFB #button_group_efb {
    margin-left: 0px!important;
    margin-right: -2px;
    width: 98.5%;
}