
.bg-color {
    background-color: #eee;
}

#emsFormBuilder-form {
    background-color: #2b232d12!important;
    margin: 0px auto;
    font-family: revert;
    padding: 40px;
    border-radius: 0px 10px
}

#emsFormBuilder-form-title {
    color: #633a82;
	font-size:1.8rem;
	font-weight:700;
}

h1 {
    text-align: center
}

input[type=text].emsFormBuilder,input[type=number].emsFormBuilder,select.emsFormBuilder {
    padding: 10px!important;
    width: 100%!important;
    height: revert;
    font-size: 17px!important;
    font-family: revert!important;
    border: 1px solid #633a82!important;
    border-radius: 10px!important;
    -webkit-appearance: none!important
}



.tab input:focus {
    border: 1px solid #633a82 !important;
    outline: none
}

input.invalid {
    border: 1px solid #e03a0666!important;
    background: antiquewhite;
}

.tab {
    display: none
}

button.emsFormBuilder {
    background-color: #633a82;
    color: #f1fcfc;
    border: none;
    border-radius: 50%!important;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}

#prevBtn {
    background-color: #633a82
}



.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #d7cae2db;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #633a82;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    color: #f1fcfc;
    background: #633a82;
    opacity: 1
}



.thanks-message {
    display: none
}

.addStep{
    display: inline-flex;
}

.border-light {
    width: 100%;
    margin: 0.5rem;
    background-color: #eee;
    display: inline-block;
    border-style: dotted;
    border-color: #e0e0e0 !important
}
.section{
  background-color: #faf8ff;
  border-color: #abbac5 !important
  
}
#tabList {
    margin-bottom: 5%;
}

option,select {
 
    font-weight: 900;
    font-family: 'FontAwesome', 'Second Font name'
  }

  div.el i.fa {
    display: list-item;
    letter-spacing: 3px;
    font-weight: 400;
}
.form-group.row {
    margin-bottom: auto;
}


#loading_emsFormBuilder {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
  }
  .wait{ cursor: wait; }

  .bttn{
    position: absolute;
    font-size: x-large;
    padding: 0px 10px 10px 0px;
  }

  .btn {text-transform:capitalize;}

  h5{
      margin: inherit;
      padding: 7px 7px 0px 7px;
    }
    h5::last-letter {
        color: #00f;
      }

    .display-btn {
        margin: 3%;
    }


    .black_box {
        
        background:#21232514;
        float:left;
        border:2px solid #21232514;
        outline: 2px dashed #6c757d61;
        outline-offset: -10px;
    }
    div.section{
        margin-top: 4%!important;
    }


    .mat-shadow, .mat-shadow-dz {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .mat-shadow:hover , .dropZone:-moz-drag-over{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }


      .emsFormBuilder-form {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      .step-name{
        TEXT-ALIGN: initial;
        padding: px 0px 0px 0px;
        border-bottom: 4px groove #f1e6fa;
        margin: initial;
     
      }

      .all-steps {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 13px;
        width: 100%;
        display: inline-flex;
        justify-content: center
        }

  
        .fadeIn {

            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-moz-keyframes fadein { /* Firefox */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-webkit-keyframes fadein { /* Safari and Chrome */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-o-keyframes fadein { /* Opera */
            from {
                opacity:0;
            }
            to {
                opacity: 1;
            }
        }